*.gem
*.rbc
.bundle
.config
.sass-cache
node_modules
bower_components/
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
TODO.md

# YARD artifacts
.yardoc
_yardoc
doc/
